<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <style>
    #scrollContainer {
      max-height: 400px; 
      overflow-y: auto;
    }
  </style>
</head>
<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" href="#">
        <img src="https://i.postimg.cc/vZDH6jyp/Untitled-11.png" alt="Logo" width="40" height="40" class="me-2">
        <span class="h5 mb-0">TechHunter</span>
      </a>      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link"href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          
        </ul>
        <div class="col-md-4 text-end">
          {{ if .LoggedIn }}
            <form action="/auth/logout" method="POST" class="d-inline">
                <button type="submit" class="btn btn-outline-danger me-2">Logout</button>
            </form>
              <button type="button" class="btn btn-danger"  onclick="window.location.href='/main/profile/user'" >Profile</button>
              {{ if eq .Role "recruiter" }}
                  <button type="button" class="btn btn-success" onclick="window.location.href='/create/vacancy'">Create Vacancy</button>
              {{ end }}
          {{ else }}
              <button type="button" class="btn btn-outline-danger me-2" onclick="window.location.href='/auth/login'">Login</button>
              <button type="button" class="btn btn-danger"  onclick="window.location.href='/auth/signup'" >Sign-up</button>
          {{ end }}
      </div>
      
      </div>
    </div>
  </nav>

</header>
<main>

    <section class="py-5 container" style="margin-top: 100px;">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Album example</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p>
        </div>
      </div>
    </section>

  
    <div class="container">
      <h1 id="top-vacancies" class="text-center mt-4">
          Популярные компании 🔥
      </h1>
      <p class="text-center mt-2 mb-2">
          Выбор редакции TechHunter
      </p>
    </div>
  


<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="card bg-white my-4 shadow">
                <div class="card-body text-center">
                    <div class="avatar">
                        <img src="employer_logo_url" alt="Avatar" class="img-fluid" />
                    </div>
                    <div>
                        <div class="h2 font-weight-bold">Employer Name</div>
                    </div>
                    <div>
                        <ul class="list-group">
                            <a href="vacancy_url" target="_blank" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                <div>
                                    <div class="h5 font-weight-bold">Vacancy Title</div>
                                    <div class="text-muted">Vacancy Salary</div>
                                </div>
                                <div>
                                    <span class="badge badge-secondary">City Name</span>
                                </div>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<h2 class="text-center mt-4">Vacancies</h2>
<div class="container bg-white my-4 shadow">
    <input type="text" id="searchInput" class="form-control mb-3" placeholder="Search for vacancies">
    
    <div id="scrollContainer">
        <ul id="vacanciesList" class="list-group mt-3"></ul>
    </div>
</div>
</main>
  
<footer class="bd-footer py-5 mt-5 bg-light">
   
</footer>






<script>
  document.addEventListener("DOMContentLoaded", function() {
      let currentPage = 1;
      const totalPages = 100; 
      let allVacancies = []; 

      function fetchVacancies(page) {
          fetch(`http://localhost:8080/vacancies?page=${page}`)
              .then(response => response.json())
              .then(data => {
                  allVacancies = allVacancies.concat(data.vacancies);
                  updateUI(allVacancies);
              })
              .catch(error => console.error('Error:', error));
      }

      function updateUI(vacancies) {
          const vacanciesList = document.getElementById('vacanciesList');
          vacanciesList.innerHTML = vacancies.map(vacancy => 
              `<li class="list-group-item">
                  <h5>${vacancy.job_title} at ${vacancy.company}</h5>
                  <p>Salary: ${vacancy.salary}</p>
                  <p>Location: ${vacancy.location}</p>
                  <p>Tech Stacks: ${vacancy.tech_stacks.join(', ')}</p>
                  <a href="${vacancy.vacancy_url}" target="_blank">Job Details</a>
              </li>`
          ).join('');
      }

      fetchVacancies(currentPage);

      const scrollContainer = document.getElementById('scrollContainer');
      scrollContainer.onscroll = function() {
          if (scrollContainer.scrollTop + scrollContainer.clientHeight >= scrollContainer.scrollHeight) {
              if(currentPage < totalPages) {
                  currentPage++;
                  fetchVacancies(currentPage);
              }
          }
      };

      const searchInput = document.getElementById('searchInput');
      searchInput.addEventListener('input', function() {
          const filteredVacancies = allVacancies.filter(vacancy =>
              vacancy.job_title.toLowerCase().includes(searchInput.value.toLowerCase())
          );
          updateUI(filteredVacancies);
      });
  });
</script>
</body>
</html>



