<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recruiter Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container my-4">
        {{ if .VacancyExists }}
        <div id="vacancyView" style="display: block;">
            <div class="vacancy">
                <h1 class="display-4">{{ .JobTitle }}</h1>
                <p class="lead">Company: {{ .Company }}</p>
                <p>Salary: {{ .Salary }}</p>
                <p>Location: {{ .Location }}</p>
                <h2>Tech Stacks</h2>
                {{ range .TechStacks }}
                <p>{{ . }}</p>
                {{ end }}
                <p>Vacancy URL: <a href="{{ .VacancyURL }}">{{ .VacancyURL }}</a></p>
                <p>Source: {{ .Source }}</p>
                <hr>
            </div>
        </div>
        <div>
            <button class="btn btn-primary" onclick="toggleEdit()">Edit</button>
        </div>



        <!-- Vacancy Edit Mode -->
        <form id="vacancyEdit" style="display: none;" action="/vacancy/update/:id" method="post">
            <div class="mb-3">
                <label for="jobTitle" class="form-label">Job Title</label>
                <input type="text" class="form-control" id="jobTitle" name="jobTitle" value="{{ .JobTitle }}">
            </div>
            <div class="mb-3">
                <label for="company" class="form-label">Company</label>
                <input type="text" class="form-control" id="company" name="company" value="{{ .Company }}">
            </div>
            <div class="mb-3">
                <label for="salary" class="form-label">Salary</label>
                <input type="text" class="form-control" id="salary" name="salary" value="{{ .Salary }}">
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" id="location" name="location" value="{{ .Location }}">
            </div>
            <div class="mb-3">
                <label for="techStacks" class="form-label">Tech Stacks</label>
                <textarea class="form-control" id="techStacks"
                    name="techStacks">{{ range .TechStacks }}{{ . }}\n{{ end }}</textarea>
            </div>
            <div class="mb-3">
                <label for="vacancyURL" class="form-label">Vacancy URL</label>
                <input type="text" class="form-control" id="vacancyURL" name="vacancyURL" value="{{ .VacancyURL }}">
            </div>
            <div class="mb-3">
                <label for="source" class="form-label">Source</label>
                <input type="text" class="form-control" id="source" name="source" value="{{ .Source }}">
            </div>
            <!-- Add other fields for editing as needed -->
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" onclick="toggleEdit()">Cancel</button>
        </form>
        {{ else }}
        <div>
            <p>No vacancy found.</p>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createVacancyModal">Create
                Vacancy</button>
        </div>
        {{ end }}
    </div>





    <!-- Create New Vacancy Modal -->
    <div class="modal fade" id="createVacancyModal" tabindex="-1" aria-labelledby="createVacancyModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createVacancyModalLabel">Create New Vacancy</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="createVacancyForm" action="/api/vacancy/create" method="post">
                        <div class="mb-3">
                            <label for="jobTitle" class="form-label">Job Title</label>
                            <input type="text" class="form-control" id="jobTitle" name="job_title" required>
                        </div>
                        <div class="mb-3">
                            <label for="companyName" class="form-label">Company Name</label>
                            <input type="text" class="form-control" id="companyName" name="company_name" required>
                        </div>
                        <div class="mb-3">
                            <label for="salary" class="form-label">Salary</label>
                            <input type="number" class="form-control" id="salary" name="salary">
                        </div>
                        <div class="mb-3">
                            <label for="location" class="form-label">Location</label>
                            <input type="text" class="form-control" id="location" name="location" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">TechStacks</label>
                            <div id="techstacksField">
                                <input type="text" class="form-control mb-2" name="tech_stacks[]">
                            </div>
                            <button type="button" class="btn btn-secondary btn-sm"
                                onclick="addInputField('techstacksField')">Add More</button>
                        </div>

                        <div class="mb-3">
                            <label for="vacancyURL" class="form-label">Vacancy URL</label>
                            <input type="text" class="form-control" id="vacancyURL" name="vacancy_url">
                        </div>
                        <div class="mb-3">
                            <label for="source" class="form-label">Source</label>
                            <input type="text" class="form-control" id="source" name="source">
                        </div>


                        <button type="submit" class="btn btn-primary">Create Vacancy</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <script>
        function addInputField(fieldContainerId) {
            var container = document.getElementById(fieldContainerId);
            var input = document.createElement("input");
            input.type = "text";
            input.className = "form-control mb-2";
            input.name = "tech_stacks[]";
            container.appendChild(input);
        }

    </script>

    <script>
        function toggleEdit() {
            var viewDiv = document.getElementById('vacancyView');
            var editForm = document.getElementById('vacancyEdit');
            if (viewDiv.style.display === "none") {
                viewDiv.style.display = "block";
                editForm.style.display = "none";
            } else {
                viewDiv.style.display = "none";
                editForm.style.display = "block";
            }
        }

    </script>


    <script>
        document.getElementById('createVacancyForm').addEventListener('submit', function (event) {
            event.preventDefault();

            let formData = new FormData(this);
            let jsonData = {
                job_title: formData.get('job_title'),
                company_name: formData.get('company_name'),
                salary: formData.get('salary'),
                location: formData.get('location'),
                tech_stacks: formData.getAll('tech_stacks[]'),
                vacancy_url: formData.get('vacancy_url'),
                source: formData.get('source')
            };

            // Fetch request
            fetch('/api/vacancy/create', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(jsonData),
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Success:', data);
                    alert('Vacancy created successfully');
                    $('#createVacancyModal').modal('hide');
                    document.getElementById('createVacancyForm').reset();
                })
                .catch((error) => {
                    console.error('Error:', error);
                    alert('Error creating vacancy: ' + error.message);
                });
        });

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>