<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <div class="container my-4">
        {{ if .ResumeExists }}
        <div id="resumeView" style="display: block;">
            <h1 class="display-4">{{ .Title }}</h1>
            <p class="lead">{{ .FirstName }} {{ .LastName }}</p>
            <p>Email: <a href="mailto:{{ .Email }}">{{ .Email }}</a></p>
            <hr>
            <h2>Experience</h2>
            {{ range .Experience }}
            <p>{{ . }}</p>
            {{ end }}
            <h2>Grading</h2>
            <p>{{ .Grading }}</p>
            <h2>Education</h2>
            {{ range .Education }}
            <p>{{ . }}</p>
            {{ end }}
            <h2>Skills</h2>
            {{ range .Skills }}
            <p>{{ . }}</p>
            {{ end }}
            <h2>Projects</h2>
            {{ range .Projects }}
            <p>{{ . }}</p>
            {{ end }}
            <h2>Social Networks</h2>
            {{ range .SocialNetworks }}
            <p><a href="{{ . }}">{{ . }}</a></p>
            {{ end }}
            <button class="btn btn-primary" onclick="toggleEdit()">Edit</button>
        </div>

        <!-- Resume Edit Mode -->
        <form id="resumeEdit" style="display: none;" action="/resume/update/:id" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" value="{{ .Title }}">
            </div>
            <div class="mb-3">
                <label for="firstName" class="form-label">First Name</label>
                <input type="text" class="form-control" id="firstName" name="firstName" value="{{ .FirstName }}">
            </div>
            <div class="mb-3">
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="lastName" name="lastName" value="{{ .LastName }}">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ .Email }}">
            </div>
            <div class="mb-3">
                <label for="experience" class="form-label">Experience</label>
                <textarea class="form-control" id="experience"
                    name="experience">{{ range .Experience }}{{ . }}\n{{ end }}</textarea>
            </div>
            <div class="mb-3">
                <label for="grading" class="form-label">Grading</label>
                <textarea class="form-control" id="grading"
                    name="grading">{{ range
                    .Grading }}{{ . }}\n{{ end }}</textarea>
            </div>
            <div class="mb-3">
                <label for="education" class="form-label">Education</label>
                <textarea class="form-control" id="education"
                    name="education">{{ range .Education }}{{ . }}\n{{ end }}</textarea>
            </div>
            <div class="mb-3">
                <label for="skills" class="form-label">Skills</label>
                <textarea class="form-control" id="skills"
                    name="skills">{{ range .Skills }}{{ . }}\n{{ end }}</textarea>
            </div>
            <div class="mb-3">
                <label for="projects" class="form-label">Projects</label>
                <textarea class="form-control" id="projects"
                    name="projects">{{ range .projects }}{{ . }}\n{{ end }}</textarea>
            </div>
            <div class="mb-3">
                <label for="socialnetworks" class="form-label">Social Networks</label>
                <textarea class="form-control" id="socialnetworks"
                    name="socialnetworks">{{ range .social_networks }}{{ . }}\n{{ end }}</textarea>
            </div>
            <!-- Add other fields for editing -->
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" onclick="toggleEdit()">Cancel</button>
        </form>
        {{ else }}
        <div>
            <p>No resume found.</p>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createResumeModal">Create
                Resume</button>
        </div>
        {{ end }}
    </div>







    <div class="modal fade" id="createResumeModal" tabindex="-1" aria-labelledby="createResumeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createResumeModalLabel">Create New Resume</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="createResumeForm" action="/api/resume/create" method="post">
                        <div class="mb-3">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" class="form-control" id="title" name="title" required
                                placeholder="Enter Title">
                        </div>

                        <!-- Dynamic Fields Section -->
                        <div class="mb-3">
                            <label class="form-label">Experience</label>
                            <div id="experienceFields">
                                <input type="text" class="form-control mb-2" name="experience[]">
                            </div>
                            <button type="button" class="btn btn-secondary btn-sm"
                                onclick="addInputField('experienceFields')">Add More</button>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Grading</label>
                            <div id="gradingFields">
                                <input type="text" class="form-control mb-2" name="grading">
                            </div>
                            <button type="button" class="btn btn-secondary btn-sm"
                                onclick="addInputField('gradingFields')">Add More</button>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Education</label>
                            <div id="educationFields">
                                <input type="text" class="form-control mb-2" name="education[]">
                            </div>
                            <button type="button" class="btn btn-secondary btn-sm"
                                onclick="addInputField('educationFields')">Add More</button>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Skills</label>
                            <div id="skillsFields">
                                <input type="text" class="form-control mb-2" name="skills[]">
                            </div>
                            <button type="button" class="btn btn-secondary btn-sm"
                                onclick="addInputField('skillsFields')">Add More</button>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Projects</label>
                            <div id="projectsFields">
                                <input type="text" class="form-control mb-2" name="projects[]">
                            </div>
                            <button type="button" class="btn btn-secondary btn-sm"
                                onclick="addInputField('projectsFields')">Add More</button>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Social Networks</label>
                            <div id="socialNetworksFields">
                                <input type="text" class="form-control mb-2" name="social_networks[]">
                            </div>
                            <button type="button" class="btn btn-secondary btn-sm"
                                onclick="addInputField('socialNetworksFields')">Add More</button>
                        </div>

                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <script>
        function addInputField(fieldContainerId) {
            var container = document.getElementById(fieldContainerId);
            var input = document.createElement("input");
            input.type = "text";
            input.className = "form-control mb-2";
            input.name = fieldContainerId.replace('Fields', '') + '[]';
            container.appendChild(input);
        }
    </script>


    <script>
        function toggleEdit() {
            var viewDiv = document.getElementById('resumeView');
            var editForm = document.getElementById('resumeEdit');
            if (viewDiv.style.display === "none") {
                viewDiv.style.display = "block";
                editForm.style.display = "none";
            } else {
                viewDiv.style.display = "none";
                editForm.style.display = "block";
            }
        }
    </script>

    <script>
        document.getElementById('createResumeForm').addEventListener('submit', function (event) {
            event.preventDefault();

            let formData = new FormData(this);
            let jsonData = {
                title: formData.get('title'),
                experience: formData.getAll('experience[]'),
                grading: formData.get('grading'),
                education: formData.getAll('education[]'),
                skills: formData.getAll('skills[]'),
                projects: formData.getAll('projects[]'),
                social_networks: formData.getAll('social_networks[]')
            };

            fetch('/api/resume/create', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(jsonData),
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                    $('#createResumeModal').modal('hide'); 
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        });
    </script>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>

</html>