<!DOCTYPE html>
<html>
<head>
    <title>New Vacancy Notification</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
        }
        .container {
            width: 80%;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: #f9f9f9;
        }
        .header {
            color: #333;
            text-align: center;
        }
        .vacancy-details {
            margin-top: 20px;
        }
        .footer {
            margin-top: 40px;
            text-align: center;
            font-size: 0.8em;
            color: #666;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="header">
        <h2>New Vacancy Alert!</h2>
    </div>

    <div class="vacancy-details">
        <h3>{{.Title}}</h3>
        <p><strong>Company:</strong> {{.Company}}</p>
        <p><strong>Description:</strong> {{.Description}}</p>
    </div>

    <div class="footer">
        <p>Thank you for subscribing to our vacancy alerts.</p>
        <p>Visit our website for more information.</p>
    </div>
</div>
</body>
</html>
